<style>
    .req{
        color: red;
        font-size: 14px;
    }
    .card{
        border: none;
        border-top: 3px solid #32a852 ;
    }
    .modal-header{
        border: none;
        border-top: 3px solid #32a852 ;
        border-bottom: 1px solid lightgray;
    }
    h4{
        color: #32a852;
    }
</style>
<section class="content ">

    <div class="container-fluid py-4" id="subcategoryListingSection">
        <div class="card shadow">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="m-0">Dispute</h4>
                    </div>
                </div>
            </div>
            <!-- <div class="card-body table-responsive col-md-12">
                <table class="table table-sm table-bordered table-hover" 
                 datatable="ng" dt-option="vm.dtOptions">
                    <thead class="thead-light">
                        <tr>
                            <th>Sr No.</th>
                            <th>Category</th>
                            <th>Sub-Category</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="sub_category in sub_categories">
                            <td>{{ $index+1 }}</td>
                            <td>{{ sub_category.category }}</td>
                            <td>{{ sub_category.label }}</td>
                            <td>
                                <button class="btn btn-xs btn-danger" ng-click="delOrder()">
                                    <i class="fa fa-trash"></i>
                                </button>
                                <button class="btn btn-xs btn-primary">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> -->
        </div>
    </div>
</section>