<style>
    .req{
        color: red;
        font-size: 14px;
    }
    .card{
        border: none;
        border-top: 3px solid #32a852 ;
    }
    .modal-header{
        border: none;
        border-top: 3px solid #32a852 ;
        border-bottom: 1px solid lightgray;
    }
    
</style>
<section class="content ">
    <div class="container-fluid py-4" id="createProductSection">
        <div class="card shadow custom_card">
            <div class="card-header">
                <h4 class="m-0">Add Product</h4>
                
            </div>
            <form name="addProductForm" novalidate>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="">Product Name <span class="req">*</span> </label>
                                <input class="form-control" type="text" placeholder="Name"
                                 name="pname" ng-model="ng_pname" pattern="^[a-z A-Z]*$" required>
                            </div>
                            <div ng-show="addProductForm.pname.$dirty && addProductForm.pname.$invalid">
                                <small class="text-danger" ng-show="addProductForm.pname.$invalid">
                                    ( Only characters are allowed )
                                </small>
                                <br>
                                <small class="text-danger" ng-show="addProductForm.pname.$error.required">
                                    Required
                                </small>
                            </div>
                        </div>
                        
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="">Category <span class="req">*</span> </label>
                                <select id="" class="form-control " style="width: 100%;"
                                name="pcategory" ng-model="ng_pcategory" required>
                                    <option value="" selected>Select Category</option>
                                    <option value="1">Category 1</option>
                                    <option value="2">Category 2</option>
                                    <option value="3">Category 3</option>
                                    <option value="4">Category 4</option>
                                    <option value="5">Category 5</option>
                                </select>
                            </div>
                            <div class="form-group" ng-show="addProductForm.pcategory.$dirty && ng_pcategory == 0">
                                <small class="text-danger"> Please Select Category! </small>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="">Sub-Category <span class="req">*</span> </label>
                                <select id="" class="form-control" 
                                name="psubcategory" ng-model="ng_psubcategory" required>
                                    <option value="" selected>Select Sub-Category</option>
                                    <option value="1">Category 1</option>
                                    <option value="2">Category 2</option>
                                    <option value="3">Category 3</option>
                                    <option value="4">Category 4</option>
                                    <option value="5">Category 5</option>
                                </select>
                            </div>
                            <div class="form-group" ng-show="addProductForm.psubcategory.$dirty && ng_psubcategory == 0">
                                <small class="text-danger"> Please Select Sub-Category! </small>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="">CNIC <small>(optional)</small> </label>
                                <input class="form-control"  type="text" placeholder="xxxxx-xxxxxxx-x" 
                                 name="pcnic" ng-model="ng_pcnic" minlength="13" maxlength="13" pattern="^[0-9]*$">
                            </div>
                            <div class="form-group" ng-show="addProductForm.pcnic.$dirty && addProductForm.pcnic.$invalid">
                                <small class="text-danger" ng-show="addProductForm.pcnic.$invalid">
                                    ( Only number allowed, no character accepted )
                                </small>
                                <!-- <br>
                                <small class="text-danger" ng-show="addProductForm.pcnic.$error.required">
                                    Required CNIC without dashes (xxxxxxxxxxxxx)
                                </small> -->
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="">Unit of Measurement <span class="req">*</span> </label>
                                <select name="" id="" class="form-control" 
                                name="pmunit" ng-model="ng_pmunit" required>
                                    <option value="" selected>Select Unit</option>
                                    <option value="1">Unit 1</option>
                                    <option value="2">Unit 2</option>
                                    <option value="3">Unit 3</option>
                                    <option value="4">Unit 4</option>
                                    <option value="5">Unit 5</option>
                                </select>
                            </div>
                            <div class="form-group" ng-show="addProductForm.pmunit.$dirty && ng_pmunit == 0">
                                <small class="text-danger"> Please Select Unit of Measurement! </small>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="">Sale Price <span class="req">*</span> </label>
                                <input class="form-control" type="text" placeholder="price" 
                                name="pprice" ng-model="ng_pprice" pattern="^[0-9]*$" required maxlength="10">
                            </div>
                            <div class="form-group" ng-show="addProductForm.pprice.$dirty && addProductForm.pprice.$invalid">
                                <small class="text-danger" ng-show="addProductForm.pprice.$invalid">
                                    ( Only number allowed, no character accepted )
                                </small>
                                <br>
                                <small class="text-danger" ng-show="addProductForm.pprice.$error.required">
                                    Required
                                </small>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="">Discount <span class="req">*</span> </label>
                                <input class="form-control" type="number" placeholder="Discount" 
                                name="pdiscount" ng-model="ng_pdiscount" required maxlength="2">
                            </div>
                            <div class="form-group" ng-show="addProductForm.pdiscount.$dirty && addProductForm.pdiscount.$invalid">
                                <small class="text-danger" ng-show="addProductForm.pdiscount.$invalid">
                                    ( Only number allowed, no character accepted )
                                </small>
                                <br>
                                <small class="text-danger" ng-show="addProductForm.pdiscount.$error.required">
                                    Required
                                </small>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="">Unit per Quantity <span class="req">*</span> </label>
                                <select id="" class="form-control" 
                                name="pqunit" ng-model="ng_pqunit" required>
                                    <option value="" selected>Select Unit</option>
                                    <option value="1">Unit 1</option>
                                    <option value="2">Unit 2</option>
                                    <option value="3">Unit 3</option>
                                    <option value="4">Unit 4</option>
                                    <option value="5">Unit 5</option>
                                </select>
                            </div>
                            <div class="form-group" ng-show="addProductForm.pqunit.$dirty && ng_pqunit == 0">
                                <small class="text-danger"> Please Select Unit per Quantity! </small>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label for="">Description <small>(optional)</small> </label>
                            <textarea class="form-control" id="" rows="5" placeholder="Description" 
                            name="pdesc" ng-model="ng_pdesc">

                            </textarea>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label for="id_editStaffImg">Upload Image <small>(optional)</small> </label>
                            <div style="width: 100%; height:auto;"  action="/file-upload" class="dropzone" id="pdropzone"></div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 mt-4">
                            <div class="col-lg-3 col-md-3 col-sm-3 mx-auto">
                                <button class="btn btn-block btn-success btn-md" 
                                ng-disabled="addProductForm.$invalid || ng_pcategory===0 || ng_psubcategory===0 || ng_pmunit===0 || ng_pqunit===0" 
                                ng-click="createProduct()">Create Product</button> 
                            </div>   
                        </div>

                    </div>
                </div>
            </form>
            <div class="card-footer text-right">
                <button class="btn btn-xs btn-dark" ng-click="hideaddProduct()">Back</button>
            </div>
        </div>
    </div>

    <div class="container-fluid py-4" id="productListingSection">
        <div class="card shadow custom_card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="m-0">Product Listing</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <button class="btn btn-sm btn-dark" ng-click="showCreateProductSection()">
                            <i class="far fa-plus-square"></i> Add Product
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive col-md-12">
                <table class="table table-sm table-bordered table-hover" 
                 datatable="ng" dt-option="vm.dtOptions">
                    <thead class="thead-light">
                        <tr>
                            <th>Sr No.</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Sub Category</th>
                            <th>Sale Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in products">
                            <td>{{ $index+1 }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.category }}</td>
                            <td>{{ product.sub_category }}</td>
                            <td>{{ product.sale_price }}</td>
                            <td>
                                <button class="btn btn-xs btn-success" data-toggle="modal" data-target="#modalProductEdit">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button class="btn btn-xs btn-danger" ng-click="delProduct()">
                                    <i class="fa fa-trash"></i>
                                </button>
                                <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#modalProductView">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- Product Edit Modal Starts  -->
<div class="modal fade" id="modalProductEdit">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header custom_modal_header">
          <h4 class="modal-title">Edit Product</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="">
                    <form name="editProductForm" novalidate>
                        <div class="">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="">Product Name <span class="req">*</span> </label>
                                        <input class="form-control" type="text" placeholder="Name"
                                         name="peditname" ng-model="ng_editpname" pattern="^[a-z A-Z]*$" required>
                                    </div>
                                    <div ng-show="editProductForm.peditname.$dirty && editProductForm.peditname.$invalid">
                                        <small class="text-danger" ng-show="editProductForm.peditname.$invalid">
                                            ( Only characters are allowed )
                                        </small>
                                        <br>
                                        <small class="text-danger" ng-show="editProductForm.peditname.$error.required">
                                            Required
                                        </small>
                                    </div>
                                </div>
                                
                                <div class="col-lg-3 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="">Category <span class="req">*</span> </label>
                                        <select id="" class="form-control " style="width: 100%;"
                                        name="peditcategory" ng-model="ng_peditcategory" required>
                                            <option value="" selected>Select Category</option>
                                            <option value="1">Category 1</option>
                                            <option value="2">Category 2</option>
                                            <option value="3">Category 3</option>
                                            <option value="4">Category 4</option>
                                            <option value="5">Category 5</option>
                                        </select>
                                    </div>
                                    <div class="form-group" ng-show="editProductForm.peditcategory.$dirty && ng_peditcategory == 0">
                                        <small class="text-danger"> Please Select Category! </small>
                                    </div>
                                </div>
        
                                <div class="col-lg-3 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="">Sub-Category <span class="req">*</span> </label>
                                        <select id="" class="form-control" 
                                        name="peditsubcategory" ng-model="ng_peditsubcategory" required>
                                            <option value="" selected>Select Sub-Category</option>
                                            <option value="1">Category 1</option>
                                            <option value="2">Category 2</option>
                                            <option value="3">Category 3</option>
                                            <option value="4">Category 4</option>
                                            <option value="5">Category 5</option>
                                        </select>
                                    </div>
                                    <div class="form-group" ng-show="editProductForm.peditsubcategory.$dirty && ng_peditsubcategory == 0">
                                        <small class="text-danger"> Please Select Sub-Category! </small>
                                    </div>
                                </div>
        
                                <div class="col-lg-3 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="">CNIC <small>(optional)</small> </label>
                                        <input class="form-control"  type="text" placeholder="xxxxx-xxxxxxx-x" 
                                         name="peditcnic" ng-model="ng_peditcnic" minlength="13" maxlength="13" pattern="^[0-9]*$">
                                    </div>
                                    <div class="form-group" ng-show="editProductForm.peditcnic.$dirty && editProductForm.peditcnic.$invalid">
                                        <small class="text-danger" ng-show="editProductForm.peditcnic.$invalid">
                                            ( Only number allowed, no character accepted )
                                        </small>
                                        <!-- <br>
                                        <small class="text-danger" ng-show="editProductForm.peditcnic.$error.required">
                                            Required CNIC without dashes (xxxxxxxxxxxxx)
                                        </small> -->
                                    </div>
                                </div>
        
                                <div class="col-lg-3 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="">Unit of Measurement <span class="req">*</span> </label>
                                        <select name="" id="" class="form-control" 
                                        name="peditmunit" ng-model="ng_peditmunit" required>
                                            <option value="" selected>Select Unit</option>
                                            <option value="1">Unit 1</option>
                                            <option value="2">Unit 2</option>
                                            <option value="3">Unit 3</option>
                                            <option value="4">Unit 4</option>
                                            <option value="5">Unit 5</option>
                                        </select>
                                    </div>
                                    <div class="form-group" ng-show="editProductForm.peditmunit.$dirty && ng_peditmunit == 0">
                                        <small class="text-danger"> Please Select Unit of Measurement! </small>
                                    </div>
                                </div>
        
                                <div class="col-lg-3 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="">Sale Price <span class="req">*</span> </label>
                                        <input class="form-control" type="text" placeholder="price" 
                                        name="peditprice" ng-model="ng_peditprice" pattern="^[0-9]*$" required maxlength="10">
                                    </div>
                                    <div class="form-group" ng-show="editProductForm.peditprice.$dirty && editProductForm.peditprice.$invalid">
                                        <small class="text-danger" ng-show="editProductForm.peditprice.$invalid">
                                            ( Only number allowed, no character accepted )
                                        </small>
                                        <br>
                                        <small class="text-danger" ng-show="editProductForm.peditprice.$error.required">
                                            Required
                                        </small>
                                    </div>
                                </div>
        
                                <div class="col-lg-3 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="">Discount <span class="req">*</span> </label>
                                        <input class="form-control" type="number" placeholder="Discount" 
                                        name="peditdiscount" ng-model="ng_peditdiscount" required maxlength="2">
                                    </div>
                                    <div class="form-group" ng-show="editProductForm.peditdiscount.$dirty && editProductForm.peditdiscount.$invalid">
                                        <small class="text-danger" ng-show="editProductForm.peditdiscount.$invalid">
                                            ( Only number allowed, no character accepted )
                                        </small>
                                        <br>
                                        <small class="text-danger" ng-show="editProductForm.peditdiscount.$error.required">
                                            Required
                                        </small>
                                    </div>
                                </div>
        
                                <div class="col-lg-3 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="">Unit per Quantity <span class="req">*</span> </label>
                                        <select id="" class="form-control" 
                                        name="peditqunit" ng-model="ng_peditqunit" required>
                                            <option value="" selected>Select Unit</option>
                                            <option value="1">Unit 1</option>
                                            <option value="2">Unit 2</option>
                                            <option value="3">Unit 3</option>
                                            <option value="4">Unit 4</option>
                                            <option value="5">Unit 5</option>
                                        </select>
                                    </div>
                                    <div class="form-group" ng-show="editProductForm.peditqunit.$dirty && ng_peditqunit == 0">
                                        <small class="text-danger"> Please Select Unit per Quantity! </small>
                                    </div>
                                </div>
        
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label for="">Description <small>(optional)</small> </label>
                                    <textarea class="form-control" id="" rows="5" placeholder="Description" 
                                    name="peditdesc" ng-model="ng_peditdesc">
        
                                    </textarea>
                                </div>
        
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label for="id_editStaffImg">Upload Image <small>(optional)</small> </label>
                                    <div style="width: 100%; height:auto;"  action="/file-upload" class="dropzone" id="peditdropzone"></div>
                                </div>
        
                                <div class="col-lg-12 col-md-12 col-sm-12 mt-4">
                                    <div class="col-lg-3 col-md-3 col-sm-3 mx-auto">
                                        <button class="btn btn-block btn-success btn-md" 
                                        ng-disabled="editProductForm.$invalid || ng_peditcategory===0 || ng_peditsubcategory===0 || ng_peditmunit===0 || ng_peditqunit===0" 
                                        ng-click="updateProduct()">Update Product</button> 
                                    </div>   
                                </div>
        
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
<!-- Product Edit Modal Ends  -->

<!-- Product View Modal Starts  -->
<div class="modal fade" id="modalProductView">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header custom_modal_header">
          <h4 class="modal-title">View Product</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                div.
            </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
<!-- Product View Modal Ends  -->
<script> 
    $('.select2').select2();
   
    
</script>
    
</script>